* {
    margin: 0;
    padding: 0;
}
.topnav{
    padding-top: 5px;
    padding-left: 13px;
}

main {
    background-image: url(backimage.jpg);
    height: 130vh;
    background-position: center;
    background-size: cover;

    position: relative;
    opacity: 1;
    /* color: white; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: px;
    padding-bottom: ;
}
.container1{
    background-color: rgba(0, 0, 0, 0.727);
    height: 600px;
    width: 400px;
    border-radius:3px ;
    display: flex;
    flex-direction: column;

}
.container2{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
}
.container2 h1{
    padding-bottom: 10px;
    color: white;

}
#search1{
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.401);
}
#search2{
    padding-bottom: 10px;
    padding-top:10px ;
     border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    margin-bottom: 15px;
    color: white;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.401);

}
.button1{
    background-color: red;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    background-image: linear-gradient(top, #032210);
    padding-top: 7px;
    padding-bottom: 7px;
     cursor: pointer;
}
.p1{
    padding-left: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.button2{
    background-color: rgba(0, 0, 0, 0.488);
    padding-top:7px ;
     border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-bottom: 7px;
    color: white;
     cursor: pointer;

}
.p2{
    padding-left: 100px;
    padding-top: 10px;
    color: white;
     cursor: pointer;
    /* padding-bottom: 10px; */
}
hr{
    width: 110px;
    margin-left: 100px;
}
.container3{
    /* display: flex; */
    flex-direction: column;
    padding-top: 20px;
    padding-left: 50px;
}
.container3a{
    display: flex;
    flex-direction: row;
}
#checkbox1{
    /* padding-bottom: 5px;
    padding-left: 10px; */
    cursor: pointer;
}
.p3{
    padding-left: 10px;
    color: white;
   
}
.p4{
    margin-top: 20px;
   /* padding-top: 20px; */
   padding-bottom: 20px;
   color: white;
   cursor: pointer;
}
.container3 p{
    color: white;
     cursor: pointer;
}
.container4{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
        /* height: 40vh; */
        /* background-color: red; */
        background-image: linear-gradient(to right,#042124,#021a24);
    }
    .container4 p{
        gap: 20px;
        padding-bottom: 10px;

        color: white;
    }
    .box2{
        background-color: #021a24;
        padding-left: 90px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
    .box3{
        background-color: #032128;
        border-color: white;
        border-top-width: 2px dotted;
        width: 100px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

    }
@media screen and (max-width: 300px) {
    .container1{
        max-width: 250px;
    }
    .button1{
        display: flex;
        padding-left: 10;
        margin-left: 28px;
        justify-content: center;
        max-width: 100px;
    }
    .p1{
        padding-left: 63px;
    }
    .p2{
        padding-left: 20px;
    }
    hr{
        margin-left: 20px;
    }
    .p4{
        padding-right: 60px;
    }
    

}
@media screen and (max-width: 768px) {
    .topnav{
        padding-left: 10px;
        padding-top: ;
        margin-bottom: ;
        max-width: 10px;
    }

}
@media only screen and (min-width:768px){
    span{
        min-height: 100px;
    }
    .box2{
        padding-left: 250px;
    }

}



